.card{
  max-width: 12rem;
  min-width: 0.5rem;

}
.cardhover:hover{
  background-color: #303030;
}

.collapse navbar-collapse{
  position: sticky;
}
   body{
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(16,3,14,1) 1%, rgba(197,37,182,1) 38%, rgba(201,38,186,1) 45%, rgba(224,42,208,1) 65%, rgba(59,11,46,1) 82%, rgba(20,4,8,1) 93%, rgba(118,144,180,1) 100%, rgba(148,187,233,1) 100%);
   }
   .search-box{
    margin: auto;
    width: fit-content;
    height: fit-content;
    position: relative;
  }
  .input-search{
    
    height: 50px;
    width: 50px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .3s ease-in-out;
    background-color: #1DB954;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    
    width: 50px;
    height: 50px;
    border-style: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
 
  
  
  
 
   
   
  